.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f1f5f8;
}

.faqs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: #ffffff;
  border-radius: 8px;
}

.heading {
  color: #cb8805;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
}
